 /* general properties */
*{
  font-family: Verdana, 'Lucida Sans Unicode', sans-serif;
  /* color: #a64073; */
  color: rgb(209, 108, 25);
}
#container{
  width: 96%;
  height: 96%;
  margin: 2% 2% 2% 2%;
  background:  rgba(226, 161, 39, 0.3);
  /* background: #d9c4d1; */
}
.flexbox{
  display: flex;
  flex-wrap: wrap;  /* still a bit weird... */ 
  justify-content: center;
  align-items: start;
  height: 100%;
  width: 100%;
  /* border: 3px solid orangered; */
}
body{
  /* border: 3px solid darkmagenta; */
}

/* name section */
  /* #header{
    border: 3px solid darkmagenta;
  } */
  #name{
    text-align: center;
    padding: 5% 0% 0% 0%;
  }

/* main area */

/* left side - size selection */
  #left-box{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center;
    width: 20%;
    height: 100%;
    padding: 5% 0%;
    /* border: 3px solid darkblue; */
  }

/* middle section - main part - game board */
  #middle-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;   
    height: 100%;
    /* border: 3px solid darkblue; */
  }
  #gameBoard{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    width: 300px;
    margin: 10% 10%;
    border: 7px solid rgb(173, 55, 25);
    border-radius: 10px;
    background: white;
  }
  .field{
    padding: 1% 1% 1% 1%;
    background: rgb(219, 216, 216);
    border-radius: 1px;
  }
  .marked{
    background: rgb(82, 82, 82);
  }
  .fieldSize3x3{
    height: 30%;
    width: 30%;
  }
  .fieldSize4x4{
    height: 22%;
    width: 22%;
  }
  .fieldSize5x5{
    height: 17%;
    width: 17%;
  }
  .fieldSize6x6{
    height: 14%;
    width: 14%;
  }
  /* .rowSelector{
    float: left;
    border: 2px solid rgba(18, 26, 131, 0.678);
    border-radius: 25px;
    height: 30%;
    width: 97%;
    margin: 1% 1%;
  }
  .colSelector{
    position: relative;
    top: 0;
    border: 2px solid rgba(18, 26, 131, 0.678);
    border-radius: 25px;
    height: 97%;
    width: 29%;
    margin: 1% 1%;
  } */
  .inactive{
    display: none;
  }
  
/* right column - score + new game button */
  #right-box{
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: center;
    width: 20%;
    height: 100%;
    padding: 5% 0%;
    /* border: 3px solid darkblue; */
  }
  #newGameButton{
    color: white;
    font-size: 110%;
    padding: 5% 5%;
    margin: 15% 0%;
    border-radius: 20px;
    background: rgb(167, 38, 6); 
    /* background: #a64073; */
    align-self: center; 
  }

